h1 { 
    text-align: center;
}

h2 { 
    text-align: center;
}

h3 { 
    text-align: center;
}

#sundialCanvas { 
    border : 1px solid black;
}

#results {
    margin-top: 20px;
    text-align: center;
}